* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
}

h1 {
  font-family: "aptly", sans-serif;
  color: #080808;
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
} 

h2 {
  font-family: "aptly", sans-serif;
  color: #080808;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
} 

h3 {
  color: #080808;
  font-family: "aptly", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: 0.02475rem;
}

p {
  font-family: "Inter", sans-serif;
  color: #364153;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

nav ul li a {
  color: #080808;
  text-decoration: none;
  font-family: "aptly", sans-serif;
}

#logo {
  width: 93px; 
  height: 38px; 
  background-image: url(images/dabi-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-contacto {
  font-family: "aptly", sans-serif;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #FAFAFA;
  border: 1px solid #080808;
}

/* Estilo para las 3 líneas del menu hamburguesa */
.navbar-toggler {
  width: 30px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
  padding: 0;
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler .toggler-icon {
  display: block;
  position: absolute;
  height: 0.125rem;
  width: 100%;
  background: #080808; 
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

/* Posicionamiento inicial de las líneas */
.navbar-toggler .top-bar { top: 0px; }
.navbar-toggler .middle-bar { top: 10px; }
.navbar-toggler .bottom-bar { top: 20px; }

/* --- ANIMACIÓN A CRUZ --- */

/* La línea de arriba rota 45 grados */
.navbar-toggler:not(.collapsed) .top-bar {
  top: 10px;
  transform: rotate(135deg);
}

/* La línea del medio desaparece */
.navbar-toggler:not(.collapsed) .middle-bar {
  opacity: 0;
  left: -40px;
}

/* La línea de abajo rota -45 grados */
.navbar-toggler:not(.collapsed) .bottom-bar {
  top: 10px;
  transform: rotate(-135deg);
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.linea-horizontal-azul-centro {
  width: 4rem;
  height: 0.25rem;
  background: #2E47A3;
  margin: auto;
}

.img-kandinsky {
  border: 4px solid #080808;
}

.explicacion-pieza {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}


.card-equipo {
  border: 3px solid #080808;
  background: #FAFAFA;
  height: 100%; 
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.card-equipo figure {
  margin-bottom: 25px;
}

.card-equipo img {
  display: block;
  width: 100%;
}

.card-equipo h3 {
  margin-bottom: 1rem;
}

/* Párrafo */
.p-equipo {
  line-height: 1.6rem;
  color: #364153;
  margin-top: 10px;
}

.linea-horizontal-amarilla {
  width: 4rem;
  height: 0.25rem;
  background: #FC0;
}

.linea-horizontal-azul {
  width: 4rem;
  height: 0.25rem;
  background: #2E47A3;
}

.linea-horizontal-roja {
  width: 4rem;
  height: 0.25rem;
  background: #E63025;
}

.circulo,
.cuadrado,
.triangulo {
  margin-bottom: 1.5rem;
}


#footer-dabi {
  background-color: #080808;
  padding: 6.25rem;
  border-top: 4px solid #FC0;
}

.h2-white,
.h3-white,
.p-white,
.copywrite {
  color: #FAFAFA;
}

.divider-line {
  width: 100%;
  height: 1px;
  background-color: rgba(250, 250, 250, 0.3);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}