* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "aptly", sans-serif;
}

h1 {
  font-family: "aptly", sans-serif;
  font-weight: 500;
} 

h2 {
  font-family: "aptly", sans-serif;
  font-weight: 400;
} 

